body {
  background: #475cd1;
  color: #f00;
  border: solid 1px #f00;
  margin-left: 4px;
}
body main {
  margin: 10px 100px 200px;
  color: #00f;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  border: solid 1px #00f;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-left: 4px;
  margin-top: 11px;
  margin-bottom: 11px;
  zoom: 1;
}
body main:after,
body main:before {
  content: '';
  display: table;
}
body main:after {
  clear: both;
}
