html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
body {
  background: linear-gradient(top, #fff, #000);
  -webkit-background: linear-gradient(top, #fff, #000);
  -moz-background: linear-gradient(top, #fff, #000);
  color: #f00;
  position: fixed;
  top: 20px;
  left: 20px;
  border: solid 1px #f00;
  margin-left: 4px;
}
@media only screen and (min-width: 600px) {
  body {
    color: #f00;
  }
}
@media only screen and (min-width: 1050px) {
  body {
    color: #ff0;
  }
}
@media only screen and (max-width: 700px) {
  body {
    color: #00f;
  }
  body main {
    color: #00f;
  }
}
@media only screen and (max-width: 400px) {
  body {
    color: #800080;
  }
}
body main {
  margin: 10px 100px 200px;
  color: #00f;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  border: 1px solid #00f;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-left: 4px;
  margin-top: 11px;
  margin-bottom: 11px;
  zoom: 1;
}
body main:before,
body main:after {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
body main a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-shadow: -1px -1px 0 #00f, 1px -1px 0 #00f, -1px 1px 0 #00f, 1px 1px 0 #00f;
}
