body {
  background: #475cd1;
  color: #f00;
  border: solid 1px #f00;
  margin-left: -10px;
}
body main {
  margin-left: 10px;
  color: #00f;
  border: solid 1px #00f;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-left: 10px;
  zoom: 1;
}
body main:after,
body main:before {
  content: '';
  display: table;
}
body main:after {
  clear: both;
}
