@import 'styl/*'

add(n1 = 0, n2 = 0, n3 = n1)
    n1 + n2 + n3

marg(a, b)
    return a a*10 a*b

body
    background primary
    color red
    border solid 1px @color
    margin-left add(1px, 2)
    main
        margin marg(10px, 20)
        color blue
        transition(all 0.2s ease)
        border solid 1px @color
        border-radius 20px
        margin-left @margin-left
        test(11)
        cf()