//@import 'styl/variables'
//@import 'styl/mixins'
@import 'styl/*'

body
    background primary
    color red
    border solid 1px @color
    main
        color blue
        border solid 1px @color
        //border-radius()
        border-radius 20px
        cf()