.flexbox-container {
    align-items: center;//Centered horizontally
    display: flex;
    height: 150vh;
    flex-direction: column;//Columns insead of rows
    justify-content: center;//Columns are centered vertically
    .flexbox-item {
        background-color: #dfdfdf;
        border: 3px solid #333;
        border-radius: 1em;
        margin: 10px;
        width: 200px;
        &1 {
            min-height: 100px;
        }
        &2 {
            min-height: 200px;
        }
        &3 {
            min-height: 500px;
        }
    }
}