.flexbox-container {
    align-items: stretch;
    display: flex;
    .flexbox-item {
        background-color: #dfdfdf;
        border: 3px solid #333;
        border-radius: 1em;
        margin: 10px;
        width: 200px;
        &1 {
            align-self: flex-end;
            flex-shrink: 0;//Will not shrink
            min-height: 100px;
        }
        &2 {
            align-self: center;//Overrides Y axis (container's aign-items property)
            flex-basis: 0;//Desde donde empieza a crecer (ignora la propiedad width establecida)
            flex-grow: 2;
            min-height: 200px;
        }
        &3 {
            flex-basis: 0;
            flex-grow: 1;//Toma el espacio extra (crece)
            min-height: 500px;
        }
    }
}