@import 'buttons';

body {
    background: url('../img/wall.png') center center;
    margin: 0px;
}
header {
    background: rgba(#1DA5FF, .8);
    display: flex;
    flex-direction: column;
    height: 5em;
    justify-content: center;
    span {
        color: #c6d8ff;
        font-size: 4em;
        font-weight: bold;
        padding-left: .5em;
    }
}
.form-container {
    align-self: center;
    background: #555555;
    box-shadow: 0 0 5px 5px rgba(#303030, .5);
    border-radius: 2em;
    height: auto;
    justify-self: center;
    padding: 1em;
    width: 30em;
    .form-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2em;
        h1 {
            color: white;
            font-size: 2em;
            margin: 0px;
        }
    }
    form {
        .form-inputs {
            display: grid;
            grid-template-rows: repeat(3, auto);
            row-gap: .5em;
            .input {
                border: 1px solid transparent;
                border-radius: .5em;
                font-size: 1em;
                height: 2em;
                outline: none;
                padding: 0px 10px;
                transition: 0.5s;
                &:focus {
                    box-shadow: 0 0 0 5px rgba(0, 85, 255, 0.5);
                }
            }
        }
        .btn-box {
            float: right;
            margin-top: 1em;
        }
    }
}
section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5em);
    justify-content: space-evenly;
    max-height: 100%;
}