body {
    background: url('../img/wall.png') center center;
    margin: 0px;
}
header {
    background: rgba(#1DA5FF, .8);
    display: flex;
    flex-direction: column;
    height: 5em;
    justify-content: center;
    span {
        color: #c6d8ff;
        font-size: 4em;
        font-weight: bold;
        padding-left: .5em;
    }
}
.form-container {
    align-self: center;
    background: #555555;
    box-shadow: 0 0 5px 5px rgba(#1CE597, .5);
    border-radius: 2em;
    height: auto;
    justify-self: center;
    padding: 1em;
    width: 30em;
    h1 {
        color: white;
        font-size: 2em;
        margin-top: 0px;
    }
    form {
        div {
            display: flex;
            flex-direction: column;
            .input {
                border: 1px solid transparent;
                border-radius: .5em;
                font-size: 1em;
                height: 2em;
                margin-bottom: 1em;
                outline: none;
                padding: 0px 10px;
                transition: 0.5s;
                &:focus {
                    box-shadow: 0 0 0 5px rgba(0, 85, 255, 0.5);
                }
            }
        }
        .btn {
            background: #1DA5FF;
            border: none;
            border-radius: .5em;
            float: right;
            font-size: 1em;
            height: 2em;
            margin-top: 1em;
            transition: 0.5s;
            width: 10em;
            &:focus {
                box-shadow: 0 0 0 5px rgba(0, 85, 255, 0.5);
            }
            &:hover {
                background: #0055dd;
                color: #fff;
            }
        }
    }
}
section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5em);
    justify-content: space-evenly;
    max-height: 100%;
}