td, th {
    border: 2px solid;
    width: 8em;
}
thead {
    text-align: center;
}
tbody {
    text-align: left;
}
tfoot {
    text-align: right;
}
.one {
    background-color: rgb(187, 71, 71);
}
.two-3-4 {
    background-color: rgb(92, 92, 233);
}