vendor(property, arg)
    {property} arg
    -webkit-{property} arg
    -moz-{property} arg
border-radius(radius = 5px)
    vendor('border-radius', radius)
transition(args)
    vendor('transition', args)
cf()
    zoom 1
    &:after
    &:before
        content ''
        display table
    &:after
        clear both