vendor(property, arg)
    {property} arg
    -webkit-{property} arg
    -moz-{property} arg
border-radius(radius = 5px)
    vendor('border-radius', radius)
transition(args)
    vendor('transition', args)
test(var)
    margin-top unit(var, 'px')
    if var > 10
        //background red
        margin-bottom unit(var, 'px')
    /* else
        background blue */
cf()
    zoom 1
    &:after
    &:before
        content ''
        display table
    &:after
        clear both